<!DOCTYPE html>
<html>

<head>
    <title>View Expenses</title>
</head>

<body>

    <h1>All Expenses</h1>

    <table border="1" cellpadding="10">

        <tr>
            <th>Expense</th>
            <th>Amount</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        {% for expense in expenses %}

        <tr>

            <td>{{ expense.expense }}</td>

            <td>{{ expense.amount }}</td>

            <td>
                <a href="/edit/{{ expense.id }}">Edit</a>
            </td>

            <td>
                <a href="/delete/{{ expense.id }}">Delete</a>
            </td>

        </tr>

        {% endfor %}

    </table>

    <br>

    <a href="/">Home</a>

</body>

</html>